# This is a sample .env file for the Blogging Platform API.
# You can copy this file to .env and update the values as needed.

# PORT=3000
# MONGODB_URI=mongodb://127.0.0.1:27017/roadmapsh-url-shortening-service